body {
  background-color: #f2f2f2;

  margin: 0;
  padding: 0;
  border: 0;
}

#create-user-alert-error,
#login-user-alert-error {
  display: none;

  padding: 0;
  padding-left: 0.2rem;

  color: rgba(255, 0, 0, 0.783);
  font-size: 0.8rem;
}

#create-user-alert-sucess {
  display: none;

  width: 17rem;
  padding: 0.8rem;
  text-align: center;

  position: fixed;
  bottom: 0;
  right: 1rem;
  left: auto;
}

#login-user-alert-sucess {
  display: none;

  width: 17rem;
  padding: 0.8rem;
  text-align: center;

  position: fixed;
  bottom: 0;
  right: 1rem;
  left: auto;
}

#table-tasks table th {
  font-weight: 700;
}

.btn-warning {
  font-size: 1.3rem;
  font-weight: 600;

  padding: 0.5rem 1.3rem;
}

#create-task-button {
  font-size: 1.3rem;
  font-weight: 600;

  padding: 0.5rem 1.3rem;
}

#table-tasks table tbody tr .task-status {
  font-weight: 600;
  text-shadow: 2px 2px 2px #f2f2f2;
}

#table-tasks table tbody tr:nth-child(even) .task-status {
  text-shadow: 2px 2px 2px white;
}

.table-tasks-row td {
  width: 25%;
}

